---
description: ""
sub_nav: true
store: true
---
<% content_for :page_classes do %>store-category<% end %>

<section class="page-hero">
  <%= image_tag "http://placehold.it/1600x300", class: "hero-image" %>
</section> <!-- /page-hero -->

<div class="shop-sorting">
  <h4>Sort by:</h4>
  <div class="sorts">
    <a href="#" class="sort active"><span>$</span></a>
    <a href="#" class="sort"><span>$$$</span></a>
    <a href="#" class="sort"><span>Oldest</span></a>
    <a href="#" class="sort"><span>Newest</span></a>
    <a href="#" class="sort"><span>Best Selling</span></a>
    <a href="#" class="sort"><span>Featured</span></a>
  </div>
</div> <!-- /shop-sorting -->

<div class="category-products">
  <div class="filters">
    <div class="shop-filter">
      <strong>Filter By:</strong>
      <a href="#" class="filter active">Men</a>
      <a href="#" class="filter">Women</a>
      <a href="#" class="filter">Outerwear</a>
      <select class="filter">
        <option>Size</option>
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>
    </div> <!-- /shop-filter -->
  </div> <!-- /filters -->

  <div class="products">
    <% 9.times do %>
      <div class="product-preview">
        <%= link_to image_tag("http://placehold.it/285x285"), "/store/item.html", class: "product-image" %>
        <a href="/store/item.html" class="preview-description">
          <p>Product Name</p>
          <span class="price">$22</span>
        </a>
      </div>
    <% end %>
  </div>
</div>

