---
description: ""
sub_nav: true
store: true
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<section class="page-intro">
  <%= image_tag "http://placehold.it/1600x300" %>
</section> <!-- /page-intro -->

<div class="filters">
  <div class="shop-filter">
    <strong>Filter By</strong>:
    <a href="#" class="filter active">Men</a>
    <a href="#" class="filter">Women</a>
    <a href="#" class="filter">Outerwear</a>
    <select class="filter">
      <option>Size</option>
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
    </select>
  </div> <!-- /shop-filter -->
</div> <!-- /filters -->

<div class="shop-sorting">
  <a href="#" class="sort active">$</a>
  <a href="#" class="sort">$$$</a>
  <a href="#" class="sort">Oldest</a>
  <a href="#" class="sort">Newest</a>
  <a href="#" class="sort">Best Selling</a>
  <a href="#" class="sort">Featured</a>
</div> <!-- /shop-sorting -->

<div class="category-products">
  <% 9.times do %>
  <div class="product-preview">
    <%= link_to image_tag("http://placehold.it/160x275"), "#", class: "product-image" %>
    <a href="#" class="preview-description">
      <p>Product Name</p>
      <span class="price">$22</span>
    </a>
  </div>
  <% end %>
</div>

