---
description: ""
sub_nav: true
store: true
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<section class="page-marketing">
  <% 3.times do %>
  <div class="marketing-pane">
    <h3>New Madtree Prints</h3>
    <p>Vestibulum a augue cursus, finibus Quisque fermentum varius rutrum sed.</p>
  </div>
  <% end %>
</section> <!-- /page-marketing -->

<section class="store-categories">
  <h3>Shop by Category</h3>

  <% 5.times do %>
  <div class="beer-preview">
    <%= link_to image_tag("http://placehold.it/125x125"), "#" %>
    <h5><%= link_to "Apparel", "#" %></h5>
  </div> <!-- category-preview -->
  <% end %>
</section> <!-- /store-categories -->

<section class="store-collections">
  <h3>Shop by Collection</h3>
  <% 3.times do %>
  <div class="collection-preview">
    <%= link_to image_tag("http://placehold.it/300x140"), "#" %>
  </div> <!-- collection-preview -->
  <% end %>
</section> <!-- /store-collections -->

<section class="featured-products">
  <h3>Featured Products</h3>

  <% 12.times do %>
  <div class="item-preview">
    <%= link_tag image_tag("http://placehold.it/160x275", "#") %>
    <a href="#">
      <p>Women's Logo T</p>
      <span class="price">$18</span>
    </a>
  </div>
  <% end %>
</section> <!-- /featured-products -->
