---
description: ""
sub_nav: true
store: true
---
<% content_for :page_classes do %>store-search<% end %>

<header class="search-header">
  <h3>Search results for <span>search term</span>
</header>

<div class="products">
  <% 9.times do %>
  <div class="product-preview">
    <%= link_to image_tag("http://placehold.it/285x285"), "/store/item.html", class: "product-image" %>
    <a href="/store/item.html" class="preview-description">
      <p>Product Name</p>
      <span class="price">$22</span>
    </a>
  </div>
  <% end %>
</div>
