<header class="site-header">
  <div class="container">
    <nav class="site-nav main">
      <h1 class="logo"><a href="#">Madtree Brewing</a></h1>
      <a href="#" class="nav-toggle"><i class="fa fa-reorder"></i></a>

      <ul class="nav-list">
        <li class="active" data-children="beers"><a href="/beer">Beers <i class="fa fa-caret-right"></i></a>
        </li>
        <li><a href="/store">Store <i class="fa fa-caret-right"></i></a></li>
        <li><a href="/community">Community <i class="fa fa-caret-right"></i></a></li>
        <li><a href="/taproom/events.html">Events <i class="fa fa-caret-right"></i></a></li>
        <li><a href="/taproom">Taproom <i class="fa fa-caret-right"></i></a></li>
        <li><a href="/blog">Blog <i class="fa fa-caret-right"></i></a></li>
      </ul> <!-- /nav-list -->
    </nav>
    <nav class="site-nav sub">
      <% if current_page.data.sub_nav? && !current_page.data.store? %>
        <ul class="subnav nav-list" data-group="beers">
          <li class="active"><a href="/beer/beer.html">Happy Amber</a></li>
          <li><a href="/beer/beer.html">Lift</a></li>
          <li><a href="/beer/beer.html">PSA</a></li>
          <li><a href="/beer/beer.html">Psychopathy</a></li>
          <li><a href="/beer/beer.html">Seasonal</a></li>
          <li><a href="/beer/beer.html">Limited Draft</a></li>
          <li><a href="/beer/beer.html">Series</a></li>
          <li><a href="/beer/beer.html">Retired</a></li>
        </ul>
      <% end %>
      <% if current_page.data.store? %>
        <ul class="subnav nav-list" data-group="beers">
          <li class="active"><a href="/beer/beer.html">Apparel</a></li>
          <li><a href="/beer/beer.html">Headware</a></li>
          <li><a href="/beer/beer.html">Barware</a></li>
          <li><a href="/beer/beer.html">Specialty</a></li>
          <li><a href="/beer/beer.html">Posters</a></li>
          <li class="search">
            <form class="search-form">
              <div class="form-group">
                <label for="search-store">Search Store</label>
                <input id="search-store" type="search" placeholder="Search Store" class="form-control search">
              </div>
            </form>
          </li> <!-- /search -->
        </ul>
      <% end %>
    </nav> <!-- /site-nav -->
  </div> <!-- /container -->
</header> <!-- /site-header -->
