<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <h1 class="logo"><a href="#">Madtree Brewing</a></h1>

      <ul class="nav-list">
        <li><a href="#">Beers</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Taproom</a></li>
        <li><a href="#">Blog</a></li>
      </ul> <!-- /nav-list -->
    </nav> <!-- /site-nav -->
  </div> <!-- /container -->
</header> <!-- /site-header -->
