<section class="on-tap">
  <h3>What's on Tap</h3>
  <div class="on-tap-slide">
    <% 10.times do %>
      <div class="on-tap-beer">
        <h4>Sol Drifter</h4>
        <p class="style">Blonde Ale with Strawberries</p>
        <span class="abv">
          <strong>ABV</strong>: 4.6%
        </span>
        <span class="ibu">
          <strong>IBUS</strong>: 34
        </span>
      </div> <!-- /on-tap-beer -->
    <% end %>
  </div>
  <a href="#" class="btn btn-primary">See All Beers on Tap</a>
</section> <!-- /on-tap -->
