<section class="toolbar">
  <div class="container">
    <div class="taproom-hours">
      <% 6.times do %>
        <span class="day"><strong>Tuesday</strong> 4pm–11pm</span>
      <% end %>
    </div>

    <div class="cafe-hours">
      <% 6.times do %>
        <span class="day"><strong>Tuesday</strong> 4pm–11pm</span>
      <% end %>
    </div>
  </div>
</section>
