<section class="toolbar">
  <div class="container">
    <div class="taproom-hours">
      <strong>Taproom:</strong>
      <% 6.times do %>
        <span class="day"><strong>T</strong> 4pm–11pm</span>
      <% end %>
    </div>

    <div class="cafe-hours">
      <strong>Cafe:</strong>
      <% 6.times do %>
        <span class="day"><strong>T</strong> 4pm–11pm</span>
      <% end %>
    </div>

    <div class="social">
      <a href="#"><i class="fa fa-facebook-square"></i></a>
      <a href="#"><i class="fa fa-twitter-square"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</section>
