---
description: ""
sub_nav: true
---
<% content_for :page_classes do %>events<% end %>

<section class="page-hero">
  <%= image_tag "http://placehold.it/1600x300", class: "hero-image" %>
  <p>Interested in booking a taproom event? Or looking for sponsorship or charitable dontation? Email <a href="mailto:info@madtreebrewing.com">info@madtreebrewing.com</a> for more information.</p>
</section> <!-- /page-hero -->

<div class="filters">
  <div class="venue-filter">
    <strong>Venue:</strong>
    <a href="#" class="filter active">Taproom</a>
    <a href="#" class="filter">Off-site</a>
  </div>

  <div class="location-filter">
    <strong>Location:</strong>
    <a href="#" class="filter active">Cincinnati</a>
    <a href="#" class="filter">Columbus</a>
    <a href="#" class="filter">Dayton</a>
  </div>
</div> <!-- /filters -->

<section class="event-listing">
  <% 12.times do %>
  <div class="event">
    <h6>Wednesday, August 1 at 4 p.m.</h6>
    <h3>Hop Up Dinners at Madtree—Eli’s BBQ</h3>
    <p>Join us every Tuesday evening for Hop Up Dinners featuring dinner prepared by chefs from the best restaurants in the city.</p>
    <%= link_to "Read more", "#", class: "btn btn-primary btn-small" %>
  </div> <!-- /event -->
  <% end %>
</section> <!-- /event-listing -->
