// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------


// -------------------------------------
//   Variables
// -------------------------------------


// Colors
// --------------------------

$brand-primary:       #E13A1C;
$brand-secondary:     #F70017;
$brand-tertiary:      #FFFA00;

$alert:               #FFE84A;
$error:               #FF0005;
$warning:             $alert;
$success:             #DFF0D8;

$link-color:          $brand-primary;

$white:               #FFF;
$gray:                #868686;
$gray-light:          #717171;
$gray-lighter:        #C5C5C5;
$gray-lightest:       #F7F7F7;
$gray-dark:           #555555;
$gray-darker:         #383838;
$gray-darkest:        #282828;
$black:               #090A0E; // Never use #000 for black (http://ianstormtaylor.com/design-tip-never-use-black/)

$text-color:          $gray-dark;
$background-color:    $white;

$btn-default-color:   $brand-primary;

// Fonts
// --------------------------

$base-font-size:          16px;
$base-line-height:        1.5;
$font-family-sans-serif:  "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-headings:    "alternate-gothic-no-3-d", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;


// Neat Grid system
// --------------------------
$grid-columns: 12;
$column: 4.875em;
$gutter: 1.5em;
$visual-grid: true;


