body.assets {

  h3 {
    font-size: calc-em(28px);
  }

  .logos {
    @extend %group;
    margin-bottom: calc-em(64px);

    .logo {
      display: block;
      @include respond-to(31.25em) {
        @include span-columns(4);
      }
    }
  }

  .press-photos {
    @extend %group;
    margin-bottom: calc-em(64px);

    .press-photo {
      display: block;
      margin-bottom: calc-em(16px);
      @include span-columns(3);
      @include omega(5n);

      @include respond-to(31.25em) {
        @include omega-reset(5n);
        @include span-columns(2);
        @include omega(7n);

      }
    }
  }

  .beer-assets {
    @extend %group;
    margin-bottom: calc-em(64px);

    input {
      width: 100%;
    }
  }

  .asset-search {
    @include respond-to(48.75em) {
      @include span-columns(3);
    }
  }

  .asset-group {
    @include omega();
    @extend %group;
    padding: calc-em(10px) calc-em(20px);
    background: $gray-lightest;
    border-radius: 4px;
    border: 1px solid $gray-lighter;

    @include respond-to(48.75em) {
      @include span-columns(9);
    }

    .asset {
      @include span-columns(3 of 9);
      @include omega(4n);

      a {
        display: block;
      }
    }
  }
}
