body.assets {

  h3 {
    font-size: calc-em(28px);
  }

  .logos {
    @extend %group;
    margin-bottom: calc-em(64px);

    .logo {
      @include span-columns(4);
      display: block;

    }
  }

  .press-photos {
    @extend %group;
    margin-bottom: calc-em(64px);

    .press-photo {
      @include span-columns(2);
      @include omega(7n);
      display: block;
      margin-bottom: calc-em(16px);
    }
  }

  .beer-assets {
    @extend %group;
    margin-bottom: calc-em(64px);

    input {
      width: 100%;
    }
  }

  .asset-search {
    @include span-columns(3);
  }

  .asset-group {
    @include span-columns(9);
    @include omega();
    padding: calc-em(10px) calc-em(20px);
    background: $gray-lightest;
    border-radius: 4px;
    border: 1px solid $gray-lighter;

    .asset {
      @include span-columns(3 of 9);
      @include omega(4n);

      a {
        display: block;
      }
    }
  }
}
