body.beer-index {

  .main-content {
    max-width: none;
    margin: 0;
  }// .main-content

  .page-marketing {
    margin-bottom: calc-em(60px);
  }

  .beer-preview h5 {
    font-size: calc-em(16px);
  }

  .core-beers,
  .secondary-beers,
  .beer-category {
    margin-bottom: calc-em(60px);
    text-align: center;

    .beers {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-around);
    }

    .beer-preview {
      width: 25%;
      margin-bottom: calc-em(32px);
    }
  }

  .browse-beers {
    h4 {
      text-align: left;
      color: $gray-light;
      margin-bottom: calc-em(8px);
    }

    .beer-preview {
      width: 10%;
    }

  }// .browse-beers
}// .beer-index
