body.beer-index {

  .main-content {
    max-width: none;
    margin: 0;
  }// .main-content

  .page-marketing {
    margin-bottom: calc-em(60px);
  }

  .beer-preview h5 {
    font-size: calc-em(16px);
  }

  .core-beers,
  .secondary-beers,
  .beer-category {
    margin-bottom: calc-em(60px);
    text-align: center;

    .beers {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-around);
    }

    .beer-preview {
      width: 47.5%;

      @include respond-to(27.5em) {
        width: 23%;
      }
      margin-bottom: calc-em(32px);
    }
  }

  .browse-beers {
    h4 {
      text-align: left;
      color: $gray-light;
      margin-bottom: calc-em(8px);
    }

    .beer-preview {
      padding: 0 calc-em(10px);
      width: 33.333%;

      @include respond-to(33.75em) {
        width: 20%;
      }

      @include respond-to(50em) {
        padding: 0;
        width: 10%;
      }
    }

  }// .browse-beers
}// .beer-index
