body.beer-index {

  .main-content {
    max-width: none;
    margin: 0;
  }// .main-content

  .page-marketing {
    margin-bottom: calc-em(60px);
  }

  .core-beers,
  .secondary-beers {
    margin-bottom: calc-em(60px);
    text-align: center;

    .beers {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-around);
    }

    .beer-preview {
      width: 25%;
      margin-bottom: calc-em(32px);
    }
  }



}// .beer-index
