body.beer-detail {
  .main-content {
    padding-bottom: calc-em(60px);
  }

  .beer-info {
    @extend %group;
    margin-bottom: calc-em(32px);
  }// .beer-info

  .beer-description {

    @include respond-to(28.75em) {
      @include span-columns(7);
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: calc-em(16px, 18px);
    }
  }

  .related-merch {
    margin-bottom: calc-em(24px);

    @include respond-to(40em) {
      @include span-columns(6);
    }
  }

  .beer-image {

    @include respond-to(28.75em) {
      @include span-columns(5);
      @include omega();
      float: right;

    }

    img {
      @include respond-to(28.75em) {
        max-width: calc-em(305px);
      }
    }
  }

  .related-beers {
    @include respond-to(40em) {
      @include span-columns(5);
      @include omega();
      float: right;
    }
  }

  .beer-description {
    p {
      font-size: calc-em(18px);
    }
  }

  .beer-info-table {
    margin-bottom: calc-em(20px);
  }


  .related-merch {
    @extend %group;

    .merch {
      @include span-columns(3 of 6);
      text-align: center;
      font-weight: bold;
      font-size: calc-em(18px);

      img {
        margin-bottom: calc-em(6px, 18px);
      }

      a,
      img {
        display: block;
      }
    } // .merch
  }

  .related-beers {
    @extend %group;

    .beer-summary {
      @include span-columns(3.5 of 7);
      @include omega(2n);
    }
  }// .related-beers
}// .beer-detail
