body.beer-category {

  .beer-summary {
    margin-bottom: calc-em(32px);

    @include respond-to(48.75em) {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .beer-summary-image {
    @include span-columns(2 of 6);
  }

  .beer-summary-text {
    @include span-columns(4 of 6);
    @include omega();

    h3 {
      font-size: calc-em(32px);
    }
  }

  .beer-summary-stats {
    clear: both;
    td {
      font-size: calc-em(16px);
      padding-bottom: calc-em(8px, 16px);
    }
  }
}
