body.blog-index {
  .blog-posts {
    margin-bottom: calc-em(64px);

    h2 {
      font-size: calc-em(36px);
      margin-bottom: calc-em(18px, 36px);
    }
    @include respond-to(40em) {
      @include span-columns(7);
    }
  }

  .blog-meta {
    margin-bottom: calc-em(64px);

    @include respond-to(40em) {
      @include span-columns(4);
      @include shift(1);
    }
  }

  .post {
    margin-bottom: calc-em(24px);
    padding-bottom: calc-em(24px);
    border-bottom: 1px solid $gray-lighter;
  }

  .post-body {
    margin-bottom: calc-em(16px);
  }

  h3 {
    font-size: calc-em(32px);

    a {
      color: $gray-dark;
    }
  }

  h6 {
    color: $gray-light;
  }
}
