body.employees {

  .people-nav {
    margin-bottom: calc-em(32px);
  }

  .people-categories {
    @extend %zero-list;
    @include display(flex);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
    font-family: $font-family-headings;
    text-transform: uppercase;
    font-size: calc-em(18px);

    @include respond-to(30em) {
      font-size: calc-em(24px);
    }

    li {
      margin: 0 2%;
    }
  }

  .people-section {

    h3 {
      clear: both;
      font-size: calc-em(32px);
      border-bottom: 2px solid $gray-lighter;
      margin-bottom: calc-em(24px, 32px);
      padding-bottom: calc-em(12px, 32px);
    }
  }// .people-section

  .person {
    @extend %group;
    margin-bottom: calc-em(36px);

    @include respond-to(45em) {
      @include span-columns(6);
      @include omega(2n);
    }

    .person-image {
      @include span-columns(2 of 6);
    }

    .person-text {
      @include span-columns(4 of 6);

      h4 {
        font-size: calc-em(28px);
      }

      h5 {
        font-size: calc-em(18px);
        margin-bottom: calc-em(9px, 18px);
      }

      p {
        font-size: calc-em(18px);
      }
    }
  }// .person
}// .employees
