body.home {

  // -------------------------------------
  //   Slideshow
  // -------------------------------------
  .slideshow {
    margin-bottom: calc-em(25px);

  }

  .slide {
    position: relative;

    img {
      display: block;
    }
  }

  .caption {
    background: rgba(0,0,0,.7);
    color: $white;
    padding: calc-em(15px) calc-em(20px) calc-em(30px);
    border-top: 5px solid rgba(0,0,0,.8);
    text-align: center;

    @include respond-to(28.75em) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    h2 {
      color: $white;
      font-weight: 400;
      font-size: calc-em(29px);
    }

    p {
      font-size: calc-em(16px);

      @include respond-to(28.75em) {
        font-size: calc-em(19px);
      }
    }
  }// .caption

  // -------------------------------------
  //   CTAs
  // -------------------------------------
  .ctas {
    margin-bottom: calc-em(60px);
    position: relative;

    @include respond-to(40em) {
      @include display(flex);
    }
  }

  .cta-group {
  }

  .cta {
    text-align: center;
    padding: calc-em(10px) 2%;
    border-bottom: 1px solid $gray-lighter;

    @include respond-to(40em) {
      width: 33.3333%;
      border: none;
      border-right: 1px solid $gray-lighter;
    }

    h3 {
      margin-bottom: calc-em(8px, 20px);
      font-weight: 600;
    }

    p {
      font-size: calc-em(14px);
      font-weight: 100;
    }

    &.where {

      position: relative;

      .btn {
        margin-bottom: calc-em(16px);
      }
      .input-group {
        width: 80%;
        margin: 0 auto calc-em(4px);
      }
    }

    &.sign-up {
      .input-group {
        width: 80%;
        margin: 0 auto calc-em(16px);
      }
    }

    &.visit {
      h5 {
        font-size: calc-em(16px);
        font-weight: 600;
      }

      .address,
      .phone,
      .street {
        display: block;
        font-weight: 100;
        line-height: calc-em(20px, 16px);
      }

      .address {
        margin-bottom: calc-em(16px);
      }

      .phone a {
        color: $gray-dark;
      }

    } // .visit

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }// .cta

  // -------------------------------------
  //   OnTap
  // -------------------------------------

  .on-tap {
    text-align: center;
    margin-bottom: calc-em(50px);
    padding: 0 20px;

    h3 {
      margin-bottom: calc-em(20px, 20px);
      font-weight: 600;
    }
  }

  .on-tap-slide {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
  }

  .on-tap-beer {
    width: 50%;

    @include respond-to(30em) {
      width: 33%;
    }

    @include respond-to(45em) {
      width: 20%;
    }
  }

  .slideshow {

    .slick-next,
    .slick-prev {
      top: 90%;
    }

    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
    }


    .slideshow {
      .slick-dots {
        bottom: 5px;

        li button:before {
          font-size: 12px;
          color: $white;
        }
      }

    }
  }

  .on-tap-slideshow {
    .slick-next,
    .slick-prev {
      top: 42%;

      &:before {
        color: $gray-light;
      }
    }

    .slick-prev {
      left: -20px;
    }

    .slick-next {
      right: -20px;
    }
  }

  .beer-map-container {
    position: relative;
    background: #FFF;
    width: 100%;
    z-index: 1000;

  }
}

.beer-finder-results {
  max-height: 600px;
  overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    .bh-sl-map {
      height: calc-em(240px);
    }

  .loc-list {
    overflow: scroll;
    height: 360px;
  }
}

.modal-content {
  .modal-header {
    text-align: right;
  }
}

.modal-body {
  height: 600px;
}

