body.home {

// -------------------------------------
//   Slideshow
// -------------------------------------
  .slideshow {
    margin-bottom: calc-em(25px);

  }

  .slide {
    position: relative;

    img {
      display: block;
    }
  }

  .caption {
    background: rgba(0,0,0,.7);
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: calc-em(15px) 0 calc-em(30px);
    border-top: 5px solid rgba(0,0,0,.8);
    text-align: center;

    h2 {
      color: $white;
      font-weight: 400;
      font-size: calc-em(29px);
    }

    p {
      font-size: 19px;
    }
  }// .caption

// -------------------------------------
//   CTAs
// -------------------------------------
  .ctas {
    @extend %group;
    margin-bottom: calc-em(60px);
    overflow: hidden;
  }

  .cta {
    @include span-columns(4);
    border-right: 1px solid $gray-lighter;
    text-align: center;
    padding: calc-em(10px) 2%;

    h3 {
      margin-bottom: calc-em(8px, 20px);
      font-weight: 600;
    }

    p {
      font-size: calc-em(14px);
      font-weight: 100;
    }

    &.where {
      .btn {
        margin-bottom: calc-em(16px);
      }
    }

    &.sign-up {
      .input-group {
        width: 80%;
        margin: 0 auto calc-em(16px);
      }
    }

    &.visit {
      h5 {
        font-size: calc-em(16px);
        font-weight: 600;
      }

      .address,
      .phone,
      .street {
        display: block;
        font-weight: 100;
        line-height: calc-em(20px, 16px);
      }

      .address {
        margin-bottom: calc-em(16px);
      }

      .phone a {
        color: $gray-dark;
      }

    } // .visit

    &:first-child {
      padding-bottom: 9999px;
      margin-bottom: -9999px;
    }

    &:last-child {
      border: none;
      padding-right: 0;
    }
  }// .cta

// -------------------------------------
//   OnTap
// -------------------------------------

  .on-tap {
    text-align: center;
    margin-bottom: calc-em(50px);

    h3 {
      margin-bottom: calc-em(20px, 20px);
      font-weight: 600;
    }
  }

  .on-tap-slide {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
  }


}
