body.interstitial {
  padding: calc-em(16px) 0;

  @include respond-to(35em) {
    padding: calc-em(64px) 0 0 0;
  }

  h1 {
    @include replace-text(362px, 183px, image_url("img-logo.svg") no-repeat center);
    width: 100%;
    margin-bottom: calc-em(6px);
    background-size: contain;
    @include respond-to(35em) {
    }
  }

  h2 {
    font-size: calc-em(32px);
    margin: 0 0 calc-em(6px, 32px) 0;
  }

  h3 {
    color: $brand-primary;
    font-size: calc-em(24px);
  }

  h5 {
    font-size: calc-em(18px);
  }

  .twenty-one-check {
    text-align: center;
    margin-bottom: calc-em(24px);
  }

  .interstitial-content {
    max-width: calc-em(540px);
    margin: 0 auto;
    padding: calc-em(20px);
    border: 5px solid rgba(0,0,0,.2);
    background: rgba(0,0,0,.03);
  }

  .answers {
    .btn {
      background: $brand-primary;
      display: block;
      width: 100%;
      margin-bottom: calc-em(6px);
      @include respond-to(35em) {
        width: 49.5%;
        margin-bottom: 0;
        display: inline-block;
      }
    }
  }


  .address {
    margin-bottom: calc-em(16px);
    p {
      margin-bottom: 0
    }
  }
  .brewery-info {
    @extend %group;
  }

  .taproom-hours {
    margin-bottom: calc-em(16px);
    @include respond-to(35em) {
      margin-bottom: 0;
    }
    .day {
      display: block;
    }
  }

  .hours,
  .location {
      @include respond-to(35em) {
        width: 45%;
        float: left;
      }
  }

  .hours {
  }

  .location {
      @include respond-to(35em) {
        float: right;
      }
  }
}
