.store-detail {

  .product-images {
    margin-bottom: calc-em(32px);

    @include respond-to(45em) {
      @include span-columns(6);
    }
  }// .product-images

  .product-details {

    @include respond-to(45em) {
      @include pad(0);
      @include span-columns(6);
      @include omega();
    }

    @include respond-to(51.25em) {
      @include pad(0 default);
    }

    margin-bottom: calc-em(32px);

    h2,
    .product-description,
    .product-actions,
    .price {
      text-align: center;
    }

    h2 {
      margin-bottom: 0;
    }

    .price {
      display: block;
      font-size: calc-em(32px);
      margin-bottom: calc-em(32px, 32px);
      font-weight: 100;
    }

    .product-description {
      margin-bottom: calc-em(24px);
    }
  }// .product-details

  .product-actions {
    width: 50%;
    margin: 0 auto calc-em(32px);

    label {
      display: none;
    }

    button {
      margin-bottom: calc-em(4px, 18px);
    }
  }

  .size-chart {
    display: block;
    font-size: calc-em(12px);
  }

  .related-products {
    @extend %group;
    clear: both;
    margin-bottom: calc-em(64px);

    .product-preview {
      @include span-columns(6);
      @include omega(2n);
      
      @include respond-to(26.25em) {
        @include omega-reset(2n);
        @include span-columns(3);
        @include omega(4n);

      }
      

      @include respond-to(45em) {
        @include omega-reset(4n);
        @include span-columns(2);
        @include omega(5n);
      }
    }
  }
}// .store-detail
