body.taproom {

  .section-header {
    text-align: center;
    margin-bottom: calc-em(32px);

    h3 {
      font-size: calc-em(42px);
    }

    p {
      font-size: calc-em(21px);
      font-weight: 100;
      width: 80%;
      margin: 0 auto;
    }
  }

  .taproom-phone,
  .taproom-address {
    display: inline-block;
    vertical-align: top;
    margin: 0 calc-em(20px) calc-em(32px);
    min-width: calc-em(115px);

    p {
      font-size: calc-em(16px);
      font-weight: 100;
    }

    .street {
      font-weight: 100;
    }
  }

  .taproom-hours {
    text-align: center;

  }

  .days {
    @include display(flex);
    @include justify-content(space-around);

    .day {
      width: 16.66667%;
    }

    .hours {
      display: block;
      font-size: calc-em(14px);
    }
  }

  .private-events,
  .food {
    text-align: center;
    @include span-columns(6);
    @include pad(0 default);
    margin-bottom: calc-em(64px);

    .section-header {
      margin-bottom: calc-em(32px);

      h3 {
        font-size: calc-em(32px);
      }

      p {
        font-size: calc-em(18px);
        width: 100%;
      }
    }
  }

  .food {
    @include omega();

    .cafe-hours {
      margin-bottom: calc-em(24px);
    }
  }

  .on-tap {
    h3 {
      font-size: calc-em(32px);
    }

    .beers {
      @include display(flex);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      text-align: center;

      a {
        display: block;
        color: $gray-dark;
      }
    }
  }

  .size,
  .price {
    display: inline-block;
  }

  .size {
    margin-right: calc-em(10px);
  }

  .price {
    font-weight: normal;
  }

  .popover {
    a {
      display: block;
      font-size: calc-em(14px);
    }
  }
}
