body.tours {
  .page-hero {

    &.alt {
      @extend %group;
      text-align: left;

      p {
        padding: 0;
      }

      .page-hero-text {
        margin-bottom: calc-em(24px);

        @include respond-to(55em) {
          @include span-columns(7);
        }
      }

      .hero-image {
        @include respond-to(55em) {
          @include span-columns(5);
        }
      }
    }
  }// .page-hero

  .tours {
    margin-bottom: calc-em(24px);

    @include respond-to(36.25em) {
      @include span-columns(7);
    }

    .taproom-photos {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
    }

    .taproom-photo-thumb {
      display: block;
      width: 20%;
      margin: 0 1%;
      margin-bottom: calc-em(12px);

      @include respond-to(720px) {
        width: 10%;
      }
    }
  }

  .private-events {

    @include respond-to(36.25em) {
      @include span-columns(5);
    }

    text-align: left;
    padding: 0;
  }
}
