---
description: ""
sub_nav: true
---
<% content_for :page_classes do %>employees<% end %>

<nav class="people-nav">
  <ul class="people-categories">
    <li><a href="#brewing">Brewing</a></li>
    <li><a href="#sales">Sales</a></li>
    <li><a href="#taproom">Taproom</a></li>
    <li><a href="#production">Production</a></li>
    <li><a href="#frontoffice">Front Office</a></li>
  </ul>
</nav> <!-- /people-nav -->

<% 5.times do %>
<section id="brewing" class="people-section">
  <h3>Brewing</h3>
  <div class="people">
    <% 5.times do %>
      <div class="person">
        <div class="person-image">
          <%= image_tag "http://placehold.it/385x385" %>
        </div>
        <div class="person-text">
          <h4>Employee Name</h4>
          <h5>Employee title</h5>
          <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus. Pellentesque interdum, dui et eleifend egestas, libero nisi ultrices felis, nec ullamcorper justo diam molestie lectus. Nam vitae nisl ut quam dignissim facilisis id sed eros.</p>
        </div>
      </div> <!-- /person -->
    <% end %>
  </div>
</section> <!-- /people-section -->
<% end %>
