---
description: ""
---
<% content_for :page_classes do %>blog-show<% end %>

<section class="blog-posts">
  <article class="post">
    <header class="post-header">
      <h6><time>June 13, 2016 at 2:03 p.m.</time></h6>
      <h3>Aenean posuere enim non viverra</h3>
    </header> <!-- /post-header -->
    <div class="post-body">
      <% 4.times do %>
      <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus.</p>
      <% end %>
      <figure>
        <%= image_tag "http://unsplash.it/890/300" %>
        <figcaption>This is the photo credit or caption</figcaption>
      </figure>
      <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus.</p>
      <blockquote>
        <p>Aenean ut purus sapien ruspendisse potenti. Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus.</p>
      </blockquote>
      <p>Curabitur ornare lacus vitae purus interdum congue. In eleifend massa ut lacus malesuada, nec sollicitudin nisi lacinia. Fusce erat quam, euismod nec lobortis molestie, sodales vel augue. Nullam bibendum dapibus lectus.</p>
    </div> <!-- /post-body -->
    <footer class="article-footer">
      Published in: <%= link_to "Brewing", "#" %>, <%= link_to "Brewing", "#" %>, <%= link_to "Brewing", "#" %>
    </footer> <!-- /article-footer -->
  </article> <!-- /post -->
</section> <!-- /blog-posts -->
