---
description: ""
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<h1>MadTree Brewing</h1>


<section class="ctas">
  <div class="cta">
    <h3>Hello</h3>
  </div>
  <div class="cta">
    <h3>Hello</h3>
  </div>
  <div class="cta">
    <h3>Hello</h3>
  </div>
</section>
