---
description: ""
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<% content_for :page_classes do %>home<% end %>

<section class="slideshow">
  <% 3.times do %>
  <div class="slide">
    <%= image_tag "http://unsplash.it/1600/650" %>
    <div class="caption">
      <h2>Update Text Goes Here</h2>
      <p>
        Nullam id libero felis fusce sed sollicitudin sodales nibh, ullamcorper.
      </p>
    </div>
  </div> <!-- /slide -->
  <% end %>
</section> <!-- /slideshow -->



<section class="ctas">

    <div class="cta where">
      <h3>Where to Get Madtree</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#beerModal">
        Find Madtree Beer 
      </button>


    </div>

    <div class="cta visit">
      <h3>Visit Our Taproom</h3>
      <div class="address">
        <h5><i class="fa fa-map-marker"></i> Address</h5>
        <span class="street">5164 Kennedy Ave.</span>
        <span class="city">Cincinnati, OH 45208</span>
      </div>

      <div class="phone">
        <h5><i class="fa fa-phone"></i> Phone</h5>
        <p itemprop="telephone"><a href="tel:+5555555555">555-555-5555</a></p>
      </div>
    </div>

    <div class="cta sign-up">
      <h3>Sign up for our Newsletter</h3>
      <form class="email-signup">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Sign Up</button>
          </span>
        </div><!-- /input-group -->
      </form>
      <p>Phasellus dapibus ipsum a volutpat. Ut mollis consequat ultricies.</p>
    </div>
</section>

<div class="modal fade" id="beerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close"></i></span></a>
      </div>
      <div class="modal-body">
        <div class="beer-form-container">
          <div id="bh-sl-map-container" class="beer-map-container">
          </div>
          <div class="beer-finder-results" class>
            <div id="beer-map" class="bh-sl-map"></div>
            <div class="loc-list">
              <ul class="list"></ul>
            </div>
          </div>

          <form id="beer-finder-form" method="post" action="#">
            <h3>Enter your address or hit the <i class="fa fa-compass"></i> icon to find your address</h3>
            <div class="input-group">
              <input type="text" class="form-control" id="bh-sl-address" name="bh-sl-address" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default locate"><i class="fa fa-compass"></i></button>
              </span>
            </div><!-- /input-group -->
            <button class="btn btn-default" type="submit">Find Beer</button>
          </form>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= partial "partials/on-tap" %>
