---
description: ""
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<% content_for :page_classes do %>home<% end %>

<section class="slideshow">
  <% 3.times do %>
  <div class="slide">
    <%= image_tag "http://unsplash.it/1600/650" %>
    <div class="caption">
      <h2>Update Text Goes Here</h2>
      <p>
        Nullam id libero felis fusce sed sollicitudin sodales nibh, ullamcorper.
      </p>
    </div>
  </div> <!-- /slide -->
  <% end %>
</section> <!-- /slideshow -->


<section class="ctas">
  <div class="cta where">
    <h3>Where to Get Madtree</h3>
    <a href="#" class="btn btn-primary">Open Beer Finder</a>
    <p>Phasellus dapibus ipsum a volutpat. Ut mollis consequat ultricies.</p>


    <div class="beer-form-container">
      <div id="bh-sl-map-container" class="bh-sl-map-container">
        <div id="beer-map" class="bh-sl-map"></div>
        <div class="loc-list">
          <ul class="list"></ul>
        </div>
      </div>

      <form id="beer-finder-form" method="post" action="#">
        <div class="input-group">
          <input type="text" class="form-control" id="bh-sl-address" name="bh-sl-address" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Find Beer</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>


  </div>

  <div class="cta visit">
    <h3>Visit Our Taproom</h3>
    <div class="address">
      <h5><i class="fa fa-map-marker"></i> Address</h5>
      <span class="street">5164 Kennedy Ave.</span>
      <span class="city">Cincinnati, OH 45208</span>
    </div>

    <div class="phone">
      <h5><i class="fa fa-phone"></i> Phone</h5>
      <p itemprop="telephone"><a href="tel:+5555555555">555-555-5555</a></p>
    </div>
  </div>

  <div class="cta sign-up">
    <h3>Sign up for our Newsletter</h3>
    <form class="email-signup">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </form>
    <p>Phasellus dapibus ipsum a volutpat. Ut mollis consequat ultricies.</p>
  </div>
</section>

<%= partial "partials/on-tap" %>
