---
description: ""
---
<% content_for :meta_information do %>
  <meta property="og:title" content='MadTree Brewing' />
  <meta property="og:image" content='http://madtreebrewing.com/images/cans.png' />
  <meta property="og:url" content='http://madtreebrewing.com/'/>
  <meta property="og:description" content='Bringing canned craft beer to Cincinnati.' />
  <meta name="description" content='Bringing canned craft beer to Cincinnati.' />
<% end %>

<h1>MadTree Brewing</h1>




<section class="ctas">
  <div class="cta">
    <h3>Where to Get Madtree</h3>
    <a href="#" class="btn btn-primary">Open Beer Finder</a>
    <p>Phasellus dapibus ipsum a volutpat. Ut mollis consequat ultricies.</p>
  </div>

  <div class="cta">
    <h3>Visit Our Taproom</h3>
    <div class="address">
      <h5>Address</h5>
      <span class="street">5164 Kennedy Ave.</span>
      <span class="city">Cincinnati, OH 45208</span>
    </div>

    <div class="phone">
      <h5>Phone</h5>
      <p itemprop="telephone"><a href="tel:+5555555555">555-555-5555</a></p>
    </div>
  </div>

  <div class="cta">
    <h3>Sign up for our Newsletter</h3>
    <form class="email-signup">
      <div class="input-group">
        <input type="text" placeholder="Enter your email address">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </span>
      </div>
    </form>
    <p>Phasellus dapibus ipsum a volutpat. Ut mollis consequat ultricies.</p>
  </div>
</section>

<%= partial "partials/on-tap" %>
