<% content_for :page_classes do %>interstitial<% end %>

<header class="interstitial-header">
  <h1>MadTree Brewing</h1>
</header> <!-- /interstitial-header -->
<div class="interstitial-content">

  <section class="twenty-one-check">
    <h2>Are you over twenty-one?</h2>
    <div class="answers">
      <%= link_to "Yep!", "/home.html", class: "btn btn-primary" %>
      <%= link_to "Nope", "http://google.com/", class: "btn btn-primary" %>
    </div> <!-- /answers -->
  </section> <!-- /twenty-one-check -->

  <section class="brewery-info">
    <section class="hours">
      <div class="taproom-hours">
        <h3>Tap Room Hours:</h3>
        <span class="day">
          <strong>Tuesday</strong> 11am&ndash;11pm
        </span> <!-- /day -->
        <span class="day">
          <strong>Wednesday</strong> 11am&ndash;11pm
        </span> <!-- /day -->
        <span class="day">
          <strong>Thursday</strong> 11am&ndash;12am
        </span> <!-- /day -->
        <span class="day">
          <strong>Friday</strong> 11am&ndash;1am
        </span> <!-- /day -->
        <span class="day">
          <strong>Saturday</strong> 11am&ndash;1am
        </span> <!-- /day -->
        <span class="day">
          <strong>Sunday</strong> 11am&ndash;10pm
        </span> <!-- /day -->
      </div> <!-- /tapoom-hours -->
    </section> <!-- /hours -->


    <section class="location">
      <h3>Contact Information</h3>
      <div class="address">
        <h5><i class="fa fa-map-marker"></i> Address</h5>
        <p>5164 Kennedy Ave.</p>
        <p>Cincinnati, OH 45213</p>
      </div> <!-- /address -->
      <div class="phone">
        <h5><i class="fa fa-phone"></i> Phone</h5>
        <p>513-836-8733</p>
      </div> <!-- /phone -->

    </section> <!-- /location -->
  </section>

</div>
