// -------------------------------------
//   Beer Info Table
// -------------------------------------

.beer-info-table {
  text-align: left;
  color: $gray-light;
  width: 100%;

  th {
    font-family: $font-family-headings;
    text-transform: uppercase;
  }

  td {
    font-size: calc-em(19px);
  }
}
