// *************************************
//
//  Header Nav
//   -> Navigation for the marketing and
//   shop
//
// *************************************

.site-header {
  padding-top: calc-em(32px);
  margin-bottom: calc-em(32px);

  .container {
    @extend %group;
  }

  h1 {
    position: absolute;
    left: 11px;
    top: 3px;

    @include respond-to(800px) {
      @include span-columns(4);
      position: static;
      left: auto;
      top: auto;
    }

    a {
      display: block;
      text-indent: -9999px;
      background: image-url('img-logo.svg') no-repeat top left;
      height: 50px;
      background-size: 100px 50px;
      @include respond-to(800px) {
        background-size: 220px 110px;
        height: calc-em(110px, 60px);
      }
    }
  }

  .site-nav {
    @extend %group;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc-em(60px);
    background: $white;
    border-bottom: 1px solid $gray;
    z-index: 99999;

    @include respond-to(800px) {
      position: static;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      height: auto;
      border: none;
    }

    &.sub {
      display: none;

    }

    &.open {
      .nav-list {
        height: auto;
        position: relative;
        top: 60px;
        width: 100%;
        background: $white;
        left: 0;
        right: 0;
        display: block;

        &.cloned {
          top: 1px;
          margin-bottom: calc-em(10px);
          display: none;

          &.open {
            display: block;
          }

          li a {
            padding-bottom: 0;
          }
          @include respond-to(800px) {
            display: none;
          }
        }
      }
    }
  }

  .nav-list {
    display: none;

    @include respond-to(800px) {
      @include span-columns(8);
      @include display(flex);
      @include justify-content(space-between);
      @include flex-direction(row);
      margin-top: calc-em(40px);
      text-align: right;
    }

    li {
      @extend %group;
      display: block;
      width: 100%;
      text-align: left;

      @include respond-to(800px) {
        width: auto;
        text-align: right;
      }

      .active {
        i {
          float: right;
          line-height: calc-em(45px);
          display: block;
        }
        @include respond-to(800px) {
          display: none;
        }
      }

      i {
        display: none;
      }
    }

    a {
      font-family: $font-family-headings;
      text-transform: uppercase;
      font-size: calc-em(21px);
      color: $gray-dark;
      display: block;
      text-align: left;
      padding: calc-em(10px, 21px);
      line-height: calc-em(50px, 21px);
      font-weight: 600;
      border-bottom: 1px solid $gray-lighter;

      &:hover,
      &:focus,
      &:active,
      &.active {
        color: $brand-primary;
      }

      @include respond-to(800px) {
        border: none;
        text-align: right;
      }
    }

    &.subnav {
      margin-top: 0;
      float: right;

      a {
        font-size: calc-em(16px);
        color: $gray-light;
        padding-top: 0;
        font-weight: 400;

        @include respond-to(800px) {
          margin-top: -20px;
        }
      }
    }

  }// .nav-list

  .nav-toggle {
    position: absolute;
    right: calc-em(20px, 24px);
    top: calc-em(12px, 24px);
    font-size: calc-em(24px);

    @include respond-to(800px) {
      display: none;
    }
  } // .nav-toggle

  .search input {
    margin-top: -(calc-em(18px, 14px));
    width: calc-em(130px, 14px);
  }
}// .site-header

