// -------------------------------------
//   Toolbar
// -------------------------------------
.toolbar {
  background: $gray-lightest;
  font-size: calc-em(10px);
  line-height: calc-em(30px, 10px);

  .container {
    @extend %group;
  }

  a,
  span {
    color: $gray-dark;
  }

  strong {
    text-transform: uppercase;
  }

  .taproom-hours,
  .cafe-hours {
    @include span-columns(4.5);
  }

  .cafe-hours {
    text-align: right;
  }

  .social {
    @include span-columns(3);
    @include omega();
    text-align: right;
    font-size: calc-em(16px, 10px);
  }
}
