// -------------------------------------
//   Toolbar
// -------------------------------------
.toolbar {
  background: $gray-lightest;
  font-size: calc-em(8px);
  line-height: calc-em(30px, 8px);

  @include respond-to(22.5em) {
    font-size: calc-em(10px);
  }

  .container {
    @extend %group;
  }



  a,
  span {
    color: $gray-dark;
  }

  strong {
    text-transform: uppercase;
  }

  .taproom-hours {

    > strong {
      display: none;
      @include respond-to(25.625em) {
        display: inline;
      }
    }

    @include respond-to(35em) {
      @include span-columns(9);
    }

    @include respond-to(70em) {
      @include span-columns(4.5);
    }
  }


  .cafe-hours {
    display: none;
    text-align: right;

    @include respond-to(70em) {
      @include span-columns(4.5);
      display: block;

    }
  }

  .social {
    display: none;
    text-align: right;
    font-size: calc-em(16px, 10px);

    @include respond-to(35em) {
      display: block;
      @include span-columns(3);
      @include omega();
    }
  }
}
